.board-container {
	display: inline-block;
	background-color: goldenrod;
	border: 1px solid black;
}

.board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 1px;
	width: auto;
	height: auto;
}
