.captured-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.captured-container h2 {
	margin: 0;
	text-align: center;
	flex: 1;
}

.captured-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.captured-graphic {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.captured-graphic image {
	flex: 1;
}

.captured-count {
	flex: 1;
	justify-content: center;
	font-size: 2.25em;
}
