.piece {
	font-size: 3rem;
	height: 66%;
	padding: 5px;
}
.piece.black {
	background: black;
	color: white;
	border: 1px white dashed;
}
.piece.white {
	background: white;
	color: black;
	border: 1px black dashed;
}
