/* .square {
	border: 2px solid goldenrod;
	float: left;
	margin-right: -1px;
	margin-top: -1px;
	display: flex;
	width: 12.5%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.square:after {
	content: ' ';
	padding-top: 100%;
	display: table;
} */
.square {
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 15px;
}
.square.white {
	background-color: white;
}
.square.black {
	background-color: black;
}
