.board-container {
	display: flex;
	width: 88vw;
	flex-wrap: wrap;
	margin: auto;
}


@media only screen and (min-width: 576px) {
	.board-container {
		width: 80vw;
	}
}

@media only screen and (min-width: 768px) {
	.board-container {
		width: 72vw;
	}
}

@media only screen and (min-width: 992px) {
	.board-container {
		width: 64vw;
	}
}

@media only screen and (min-width: 1200px) {
	.board-container {
		width: 40vw;
	}
}

/* .board-container {
	display: inline-block;
	background-color: goldenrod;
	border: 1px solid black;
}

.board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 1px;
} */
