@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
html, body, #root {
	height: 100%;
}

body {
	background-color: #777;
}

/* @media only screen and (min-width: 576px) {
	body {
		background-color: yellow;
	}
}

@media only screen and (min-width: 768px) {

	body {
		background-color: red;
	}
}

@media only screen and (min-width: 992px) {
	body {
		background-color: blue;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background-color: green;
	}
} */

.social.facebook {
	border-color: #3b5998;
	background-color: #3b5998;
}

.social.facebook:hover {
	border-color: #1877f2;
	background-color: #1877f2;
}

.social.google {
	border-color: #d73022;
	background-color: #d73022;
}

.social.google:hover {
	border-color: #ea4335;
	background-color: #ea4335;
}

.social.amazon {
	border-color: #e98300;
	background-color: #e98300;
	color: #000;
}

.social.amazon:hover {
	border-color: #ff9900;
	background-color: #ff9900;
}

/* Credits: https://www.geeksforgeeks.org/how-to-get-circular-buttons-in-bootstrap-4/ */
.btn-circle.btn-sm {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	font-size: 8px;
	text-align: center;
}
.btn-circle.btn-md {
	width: 50px;
	height: 50px;
	padding: 7px 10px;
	border-radius: 25px;
	font-size: 10px;
	text-align: center;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 12px;
	text-align: center;
}

button.btn.btn-text-only,
button.btn.btn-text-only:hover,
button.btn.btn-text-only:focus,
button.btn.btn-text-only:active {
	background-color: transparent !important;
	border: none !important;
	display: inline;
	box-shadow: none !important;
	transition: none;
	padding-left: 0;
	padding-right: 0;
}
